<% provide(:title, 'サイト概要') %>
<article id="contents">
<header class="head">
<h1>サイト概要</h1>
<p class="rightbtn"><%= link_to "お知らせ一覧", articles_path, class: "bluebtn" %></p>
</header>
<p>本サイトは「お知らせ」と「写真」を提示しております。<br/>
表示はスマートフォン用に設定されておりますので、
パソコンやタブレットでは見づらいかもしれませんがご容赦願います。</p>
<dl>
  <dt>ホーム</dt>
    <dd>
      サインイン前：「サインインページ」案内<br/>
      サインイン後：「お知らせ・名簿」案内
    </dd>
  <dt>メニュー</dt>
    <dd>
      サインイン後のメニューを表示
      <ul>
        <li>お知らせ</li>
        <li>プロフィール</li>
        <li>サインアウト</li>
      </uL>
    </dd>
  <dt>サイト概要</dt>
    <dd>本ページ</dd>
</dl>
</article>
