<!-- <div class="center hero-unit"> -->
<% provide(:title, 'サイト概要') %>
<!-- <h1>サイト概要</h1> -->
<dl>
  <dt>ホーム</dt>
    <dd>
      サインイン前：「サインインページ」案内<br/>
      サインイン後：「お知らせ」案内
    </dd>
  <dt>ヘルプ</dt>
    <dd>サインインの初期登録説明</dd>
  <dt>会員メニュー</dt>
    <dd>
      サインイン後の会員だけのメニューを表示
      <ul>
        <li>アルバム</li>
        <li>写真</li>
        <li>プロフィール</li>
        <li>編集</li>
        <li>サインアウト</li>
      </uL>
    </dd>
  <dt>サイト概要</dt>
    <dd>本ページ</dd>
</dl>

<!-- </div> -->

