<% provide(:title, 'Help') %>
<h1>Help</h1>
サインインは初期登録は以下の内容となっております。
<dl>
 <dt>Name</dt>
  <dd>
    学年：3固定、クラス：1〜6、名前</br>
    例）3年2組山田太郎　ー＞　32山田太郎</br>
        ※数字は半角です。
  </dd>
 <dt>Password</dt>
  <dd>
    学年：3固定、クラス：1〜6、姓（ローマ字ヘボン式）</br>
    例）3年2組山田太郎　ー＞　32yamada</br>
        ※数字は半角、ローマ字は半角小文字です。
  </dd>
</dl>

