<% if signed_in? %>
<% if current_user.group_id == 1 %>
  <h2>忘年会</h2>
  <table class="commonTable">
    <tr>
      <th>日時</th>
        <td>
          2014年12月20日（土）午後5時〜
        </td>
    </tr>
    <tr>
      <th>場所</th>
        <td>
          豊町「きんどん」<br>
          <small>前回同期会の二次会場所</small>
        </td>
    </tr>
    <tr>
    <th>地図</th>
      <td><%= image_tag 'kindon.jpg' %></td>
    </tr>
  </table>
  <hr> 
 
  <h2>次回同期会</h2>
  <table class="commonTable">
    <tr>
      <th>日時</th>
        <td>
          2015年3月7日（土）午後2時〜
        </td>
    </tr>
    <tr>
      <th>場所</th>
        <td>
          荏原第5地域センター<br>
          <small>前回同期会場所</small>
        </td>
    </tr>
  </table>
  <hr> 

  <h2>幹事会報告</h2>
  <table class="commonTable">
    <tr>
      <th>日時</th>
        <td>
          2014年12月6日（土）午後5時〜
        </td>
    </tr>
    <tr>
      <th>場所</th>
        <td>
          大井町「川平」
        </td>
    </tr>
    <tr>
      <th>前回出席</th>
        <td>
          回答数：106名<br>
          出席者：59名
        </td>
    </tr>
    <tr>
      <th>案内状</th>
        <td>
          回答締切：2015年1月31日
        </td>
    </tr>
    <tr>
      <th>当日写真撮影（案）</th>
        <td>
          <ol type="1">
          <li>全体写真・クラス別の写真撮影を最初に行う。</li>
          <li>撮影後、コンビニ等で印刷。</li>
          <li>閉会後に参加者全員に渡す。</li>
          <li>カメラは3組関幹事に依頼済み。</li>
          </ol>
        </td>
    </tr>
    <tr>
      <th>最終幹事会</th>
        <td>
          2015年2月21日（土）<br>
          場所等は別途連絡
        </td>
    </tr>
  </table>
  <hr> 
<% elsif current_user.group_id == 2 then %>
  <h2>都立高専10期会</h2>
<% elsif current_user.group_id == 3 then %>
  <h2>パイオニア大森工場ＯＢ会</h2>
<% elsif current_user.group_id == 4 then %>
  <h2>Home4</h2>
<% end %>
<% else %>
  <!-- <div class="center hero-unit"> -->
    <!-- <h1>Ebara 4thへようこそ</h1> -->
    <p>本ページは同期会有志が運営しています。</p>
    <p class="center">
    <%= link_to "サインインしてください!", signin_path, class: "btn btn-normal btn-primary" %>
    </p>
  <!-- </div> -->
<% end %>
