<% provide(:title, '名簿') %>
<article id="contents">
<header class="head">
<h1>名簿</h1>
<p class="rightbtn"><%= link_to "お知らせ一覧", articles_path, class: "bluebtn" %></p>
</header>
<div id="articleArea">
<table class="commonTable">
<tr><th>名前</th><th>備考</th><th>住所</th></tr>
  <%= render @users %>
</table>
</article>
