<% provide(:title, '名簿') %>
<article id="contents">
<header class="head">
<h1>名簿</h1>
<p class="rightbtn"><%= link_to "お知らせ一覧", articles_path, class: "bluebtn" %></p>
</header>
<div id="articleArea">

<table class="thx4Table">
<tr>
  <th class="x2">名前</th>
  <th class="x1">新姓</th>
  <th class="x1">備考</th>
  <th class="x1">住所</th>
  <th class="x1">電話</th>
  <th class="x1">携帯</th>
  <th class="x1">mail</th>
</tr>
<%= render @users %>
</table>

</article>
