<% provide(:title, 'アルバム名簿') %>
<% if @class == "001" || @class == "002" || @class == "003" || @class == "004" || @class == "011" || @class == "012" || @class == "013" || @class == "014" || @class == "015" || @class == "016" %>
  <h2>拡大</h2>
  <%= image_tag @class+'.jpg' %>
<% else %>
  <h2><%= @class %> 名簿</h2>
<!--   <%= image_tag @class+'.jpg' %> -->
  <table class="commonTable">
  <tr><th>名前</th><th>備考</th><th>住所</th></tr>
    <%= render @users %>
  </table>
<% end %>
