<% provide(:title, @picture.image_file_name) %>
<article id="contents">
<header class="head">
<h1><%= @picture.image_file_name %></h1>
<p class="rightbtn"><%= link_to "お知らせ一覧", articles_path, class: "bluebtn" %></p>
</header>
<div id="articleArea">
<p><%= image_tag @picture.image.url(:original) %></p>
</div>
</article>
