<% provide(:title, 'マイ一言') %>
<article id="contents">
<header class="head">
<h1>マイ一言</h1>
</header>
<div class="main">
<div id="postArea">
<%= will_paginate @microposts, previous_label: "前ページ", next_label: "次ページ" %>
  <%= render @microposts %>
<%= will_paginate @microposts, previous_label: "前ページ", next_label: "次ページ" %>
</div>
</div>
</article>
