<% provide(:title, '一言拡大') %>
<article id="contents">
<header class="head">
<h1><%= @micropost.name %></h1>
</header>
<div class="main">

<div id="pictureArea">
<article>
<section>
<p><img src="<%= micropost_download_max_path(@micropost) %>"/></p>
</section>
</article>
</div>

</div>
</article>
