@import "bootstrap";

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */
/* ----------
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
------- */

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/*------------------------------------------------
   @pages global.css
------------------------------------------------*/
html{
}

body{
font-size:12px;
}

a:link{
//color:#069;
}

a:visited{
//color:#036;
}

a:active{
//color:#0CF;
}

#wrap{
}

#head{
padding:13px 0 0 0;
border-top:#09c solid 4px;
}

#head h1{
margin:0 0 14px 0;
text-align:center;
}

#head h1 img{
width:124px;
}

#head nav{
margin:0 10px 10px 10px;
}

#head nav ul{
display:-webkit-box;
display:-moz-box;
display:box;
width:100%;
padding:4px 6px;
background:#09c;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
border-radius:4px;
}

#head nav ul li{
margin:0 6px 0 0;
padding:0 8px 0 0;
-webkit-box-flex:1;
-moz-box-flex:1;
box-flex:1;
background:url(all_line01.png) no-repeat right center;
-webkit-background-size:1px auto;
background-size:1px auto;
}

#head nav ul li:last-child{
margin:0;
padding:0;
background:none;
}

#head nav ul li a{
display:block;
height:36px;
font-size:10px;
font-weight:bold;
color:#fff;
text-align:center;
text-decoration:none;
line-height:36px;
}

#head nav ul li a.on{
color:#069;
background:#DDF2F9;
border-radius:3px;
}

#visual{
margin:0 10px 10px 10px;
}

#visual p{
width:100%;
height:140px;
background:url(top_img01.png) no-repeat;
-webkit-background-size:100% auto;
background-size:cover;
border-radius:4px;
}

#visual p img{
width:190px;
margin:28px 0 0 5px;
}

#contents{
position:relative;
margin:0 10px 10px 10px;
padding:10px 8px;
-webkit-box-shadow:1px 1px 2px #ddd;
box-shadow:1px 1px 2px #ddd;
background:#fff;
border-radius:4px;
}

#contents .rightbtn{
position:absolute;
right:10px;
top:7px;
}

#contents .head{
}

#contents .head h1{
margin:0 0 20px 0;
padding:0 100px 5px 0;
font-size:14px;
text-align:left;
letter-spacing:-1px;
background:url(cont_line01.png) no-repeat left bottom;
-webkit-background-size:100% 3px;
background-size:100% 3px;
}

#contents .main{
padding:0 0 10px 0;
}

#contents .main h2{
margin:0 0 14px 0;
padding:0 0 0 4px;
font-size:12px;
font-weight:bold;
line-height:1;
border-left:#09C solid 4px;
}

#fmenu{
margin:0 10px 10px 10px;
padding:14px 8px;
background:#DDF2F9;
border-radius:4px;
}

#fmenu header{
margin:0 0 10px 0;
}

#fmenu header h1{
margin:0 0 14px 0;
padding:0 0 0 4px;
font-size:12px;
font-weight:bold;
line-height:1;
border-left:#069 solid 4px;
}

#fmenu header p{
}

#fmenu header p img{
width:100%;
border-radius:4px;
}

#fmenu section{
}

#fmenu section h2{
margin:0 0 16px 0;
font-size:12px;
color:#069;
}

#fmenu section dl{
font-size:10px;
line-height:1.6;
}

#fmenu section dl dt{
width:60px;
}

#fmenu section dl dd{
margin:-1.6em 0 4px 0;
padding:0 0 4px 70px;
border-bottom:#BBCDD3 dotted 1px;
}

#fmenu section dl dd:last-child{
margin-bottom:0;
padding-bottom:0;
border-bottom:none;
}

.pagetop{
margin:0 10px 10px 10px;
text-align:right;
}

.pagetop a{
padding:0 0 0 14px;
font-size:10px;
background:url(all_arw01t.png) no-repeat left center;
-webkit-background-size:11px;
background-size:11px;
}

#foot{
margin:0 10px;
padding:10px 0 10px 0;
font-size:10px;
border-top:#09c solid 2px;
}

#foot nav{
}

#foot nav ul{
margin:0 0 10px 0;
text-align:center;
}

#foot nav ul li{
display:inline;
margin:0 10px 0 0;
}

#foot nav ul li a{
padding:0 0 0 14px;
background:url(all_arw01r.png) no-repeat left center;
-webkit-background-size:11px;
background-size:11px;
}

#foot section{
padding:15px 10px;
background:#DDF2F9;
border-radius:4px;
}

#foot section ul{
margin:0 0 5px 0;
list-style:none;
text-align:center;
}

#foot section ul li{
display:inline;
margin:0 10px 0 0;
}

#foot section ul li a{
padding:0 0 0 14px;
background:url(all_arw01r.png) no-repeat left center;
-webkit-background-size:11px;
background-size:11px;
}

#foot section p{
text-align:center;
}

/*------------------------------------------------
   albumList
------------------------------------------------*/
#albumList{
}

#albumList article{
position:relative;
margin:0 0 15px 0;
}

#albumList article:last-child{
margin:0;
}

#albumList article section{
//padding:0 0 24px 0;
}

#albumList article section p{
font-size:1.0em;
line-height:1.6;
}

#albumList article section p:after{
content:"";
display:block;
clear:both;
}

#albumList article section p img{
//float:left;
width:100%;
//height: 100%;
//margin:0 10px 6px 0;
}

#albumList article .btn{
position:absolute;
right:0;
bottom:10px;
}

/*------------------------------------------------
   pictureList
------------------------------------------------*/
#pictureList{
}

#pictureList article{
position:relative;
margin:0 0 15px 0;
}

#pictureList article:last-child{
margin:0;
}

#pictureList article section{
//border: solid 1px #888;
//padding:0 0 24px 0;
}

#pictureList article section p{
font-size:1.2em;
line-height:1.0;
}

#pictureList article section p:after{
content:"";
display:block;
clear:both;
}

#pictureList article section p img{
float:left;
width:250px;
margin:0 10px 6px 0;
}

#pictureList article .btn{
position:absolute;
left:0;
bottom:10px;
}

/*------------------------------------------------
   Article
------------------------------------------------*/
#articleList{
}

#articleList ul{
padding:8px 0 0 0;
font-size:12px;
line-height:1.6;
list-style:none;
border-top:#ddd dotted 1px;
}

#articleList ul li{
}

#articleList ul li h3{
font-size:12px;
text-align: right;
line-height:1.0;
width:50px;
font-weight:bold;
}

#articleList ul li span{
display:block;
font-size:12px;
margin:-1.6em 0 10px 0;
padding:0 0 10px 60px;
border-bottom:#ddd dotted 1px;
}

#articleList ul li:last-child span{
margin-bottom:0;
padding-bottom:0;
border-bottom:none;
}

#articleArea{
}

#articleArea header{
}

#articleArea header time{
display:block;
margin:0 0 3px 0;
font-size:10px;
color:#666;
}

#articleArea header h1{
margin:0 0 14px 0;
padding:0 0 7px 0;
font-size:12px;
font-weight:bold;
color:#069;
border-bottom:#ddd dotted 1px;
}

#articleArea section{
margin:0 0 14px 0;
padding:0 0 16px 0;
font-size:10px;
line-height:1.6;
border-bottom:#ddd dotted 1px;
}

#articleArea section img{
float:left;
width:200px;
padding:0 10px 6px 0;
}

#articleArea .pageNation{
font-size:10px;
list-style:none;
}

#articleArea .pageNation .prev{
float:left;
}

#articleArea .pageNation .prev a{
padding:0 0 0 16px;
background:url(all_arw01l.png) no-repeat left center;
-webkit-background-size:11px;
background-size:11px;
}

#articleArea .pageNation .next{
float:right;
text-align:right;
}

#articleArea .pageNation .next a{
padding:0 16px 0 0;
background:url(all_arw01r.png) no-repeat right center;
-webkit-background-size:11px;
background-size:11px;
}

/*------------------------------------------------
   Table
------------------------------------------------*/
.commonTable{
width:100%;
font-size:10px;
border:#ddd solid 1px;
border-collapse:collapse;
}

.commonTable th{
//width:20%;
padding:6px;
font-weight:bold;
text-align:left;
vertical-align:top;
background:#DDF2F9;
border:#ddd solid 1px;
}

.commonTable td{
//width:80%;
padding:6px;
border:#ddd solid 1px;

  img{
    //float:left;
    width:100%;
    //height:100%;
    //margin:0 10px 6px 0;
  }
}

/*------------------------------------------------
   Form
------------------------------------------------*/
.formList{
padding:10px 0 0 0;
border-top:#ddd dotted 1px;
}

.formList dt{
margin:0 0 10px 0;
padding:0 0 0 4px;
font-weight:bold;
line-height:1;
border-left:#09C solid 4px;
}

.formList dt b{
margin:0 0 0 4px;
font-size:10px;
font-weight:normal;
color:#069;
}

.formList dd{
margin:0 0 10px 0;
padding:0 0 10px 0;
border-bottom:#ddd dotted 1px;
overflow-x:hidden;
}

.formList dd p{
margin:0 0 4px 0;
}

.formList dd label{
margin:0 6px 0 0;
}

.formList dd span{
margin:0 4px 0 0;
}

.formList dd input{
vertical-align:middle;
}

.formList dd select{
padding:5px;
}

.formList dd input[type=checkbox],
.formList dd input[type=radio]{
width:24px;
height:24px;
margin:0 6px 4px 0;
}

.formList dd input[type=radio]{
border-radius:12px;
}

.formList dd input[type=file]{
//font-size:10px;
}

.formList dd input[type=text],
.formList dd input[type=email],
.formList dd input[type=tel],
.formList dd input[type=number],
.formList dd input[type=password],
.formList dd textarea{
padding:6px;
border-radius:4px;
border:#ddd solid 1px;
//font-size:10px;
-webkit-box-shadow:inset 1px 1px 5px #eee;
box-shadow:inset 1px 1px 5px #eee;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

.formList dd textarea{
resize:vertical;
}

.formList dd .full{
width:100%;
}

.formList dd input[name^=post]{
width:60px;
}

.commonSubmit{
display:block;
width:220px;
height:44px;
margin:0 auto;
font-size:14px;
font-weight:bold;
text-shadow:0 -1px 0 #09c;
color:#fff;
background:-webkit-gradient(linear, left top, left bottom, color-stop(1.00, #09c), color-stop(0.00, #0cf));
background:-webkit-linear-gradient(top, #0cf 0%, #09c 100%);
background:-moz-linear-gradient(top, #0cf 0%, #09c 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff00ccff', endColorstr='#ff0099cc', GradientType=0 );
background:linear-gradient(top, #0cf 0%, #09c 100%);
border:#09c solid 1px;
border-radius:4px;
}


/*------------------------------------------------
   Blue button
------------------------------------------------*/
.bluebtn{
display:block;
width:68px;
height:18px;
padding:0 0 0 22px;
font-size:10px;
color:#fff;
text-decoration:none;
line-height:18px;
background:#09c url(all_arw02r.png) no-repeat 6px 3px;
-webkit-background-size:11px;
background-size:11px;
border-radius:3px;
}

.normalbtn{
display:inline-block;
width:68px;
height:18px;
padding:0 0 0 22px;
font-size:10px;
color:#fff;
text-decoration:none;
line-height:18px;
background:#09c url(all_arw02r.png) no-repeat 6px 3px;
-webkit-background-size:11px;
background-size:11px;
border-radius:3px;
}

/*------------------------------------------------
   Default
------------------------------------------------*/
.cf:after{
content:"";
display:block;
clear:both;
}
