<% provide(:title, 'お知らせ拡大') %>
<article id="contents">
<header class="head">
<h1><%= @image.name %></h1>
</header>
<div class="main">
<div id="pictureArea">
<section>
<p><img src="<%= image_download_max_path(@image) %>"/></p>
</section>
</div>
</div>
</article>
