<% provide(:title, @image.name) %>
<article id="contents">
<header class="head">
<h1><%= @image.name %></h1>
<p class="rightbtn"><%= link_to "お知らせ一覧", articles_path, class: "bluebtn" %></p>
</header>
<div id="pictureArea">
<article>
<section>
<p><img src="<%= image_download_max_path(@image) %>"/></p>
</section>
</article>
</div>
</article>
