<footer id="foot">
<!--
  <nav>
    <ul>
      <li><%= link_to "ホーム",   root_path %></li>
    </ul>
  </nav>
-->
  <section>
    <ul>
      <li><%= link_to "サイト概要",   about_path %></li>
    </ul>
    <p>Copyright Akira Kameyama</p>
  </section>
</footer>
